name: CI of mc_ur5e_description

on:
  push:
    paths-ignore:
      - README.md
      - ".pre-commit-config.yaml"
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Colcon build
        uses: jrl-umi3218/github-actions/build-colcon-project@master
